<ion-view title="Bros" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="bros-list1">
      <ion-item class="item-avatar item-icon-right" id="bros-list-item1" ui-sref="page()">
        <h2>Bron</h2>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="bros-list-item2" ui-sref="page2()">
        <h2>Wade</h2>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="bros-list-item3" ui-sref="page3()">
        <h2>Melo</h2>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="bros-list-item4" ui-sref="page4()">
        <h2>Bosh</h2>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="bros-list-item5" ui-sref="page5()">
        <h2>Paul</h2>
        <i class="icon ion-android-call"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>