<ion-view title="Page" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page5-card25">
      <ion-item class="item-avatar" id="page5-list-item16">
        <h2>Chris Paul</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/t17.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page5-list-item-container6">
        <div id="page5-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">09051773123</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>