<ion-view title="Page" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page4-card24">
      <ion-item class="item-avatar" id="page4-list-item14">
        <h2>Chris Bosh</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/1457644562_141947_1457644887_noticia_grande.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page4-list-item-container5">
        <div id="page4-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">09225162134</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>