<ion-view title="Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page2-card22">
      <ion-item class="item-avatar" id="page2-list-item10">
        <h2>Dwayne Wade</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/wadeunion.jpgw1000h600crop1" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page2-list-item-container3">
        <div id="page2-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">09752995712</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>