<ion-view title="Page" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page3-card23">
      <ion-item class="item-avatar" id="page3-list-item12">
        <h2>Carmelo Anthony</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/melo-traded-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page3-list-item-container4">
        <div id="page3-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">09352991573</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>